/* General Page Styles */

 body {
   margin: 0;
   text-align: center;
   font-family: 'Readex Pro', sans-serif;
   overflow-x: hidden;
 }

 section {
   padding: 10px 15px;
}

.line {
  height: 2px;
  background: black;
  margin: 5px 0;
}

.line_2 {
  height: 2px;
  background: black;
  margin: 12px 0 7px 0;;
}

.big-line {
  height: 4px;
  background: black;
  margin-bottom: 4px;
  margin-top: 30px;
}

h1 {
  font-size: 1.1em
}

h2 {
  font-size: 1.2em;
}

.legend_1 {
  font-size: 19px;
  font-weight: bold;
  padding: 19px 0;
  margin:
}

legend {
  font-size: 19px;
  font-weight: bold;
  padding: 19px 0;
  margin:
}

p, label {
  color: #808080;
  font-size: 14.3px;
}

.newsletter-p {
  margin-top: 9px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

 /* Header */

  .main-header {
    background: #2b2f46;
    padding: 12px 1px;
    }

  .main-header h1 {
    color: white;
  }

/* Form Styles */

form {
  text-align: left;

}

fieldset {
  border: white;
  margin: 0;
  padding: 0;
}

.contact-info {
  margin-bottom: 30px;
}

label {
  margin-right: 20px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], textarea, select {
  background: #f1f1f1;
  border: none;
  outline: 0;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  margin: 15px 0 12px 0;
  padding: 5px;
}

input[type="text"]::placeholder {
       text-align: right;
     }
input[type="email"]::placeholder {
       text-align: right;
    }

input:focus {
  background-color: #F1F1FA;
  transition: all 1s ease-out;
  outline: 1px solid black;
}
select:focus {
  background-color: #F1F1FA;
  outline: 1px solid black;
  transition: all 1s ease-out;
}
textarea:focus {
  background-color: #F1F1FA;
  outline: 1px solid black;
  transition: all 1s ease-out;
}

#state {
  width: 100%;
  color: #a7a7a7;
  height: 50px;
}

#zip {
  width: 50%;
}

/* Newsletter styles */

.newsletter-h2 {
  margin-bottom: 1px;
}

#htmlnews, #cssnews, #javanews, #htmlformat, #textformat {
  margin-bottom: 18px;
}

textarea {
  height: 96px;
  resize: none;
  margin-top: 26px;
}

/* Button Styles */

button {
  height: 60px;
  width: 100%;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  background: #41c3ab;
  font-size: 1.2em;
  color: white;
}

button h2 {
  color: white;
}

/* Footer Styles */

footer {
    margin-bottom: 60px;
}

footer p {
  font-style: italic;
}

/* MEdia Screen Sizes */

@media screen and (min-width: 768px) {
  section {
    max-width: 630px;
    margin: 33px auto;
  }

h2 {
  font-size: 1.6em;
}
  .label-and-input {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }
  form {
    margin-top: 23px;
  }

fieldset {
  margin-top: 23px;
}
  input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, #state {
    width: 450px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
 }
 #zip {
    width: 150px;
    margin-right: auto;
    margin-left: 64px;
    margin-bottom: 40px;
   }
}
